<footer class="footer">
    <p class="pull-right"><a href="#">Back Home</a></p>
    <p>Built as a sample application with <a href="http://angularjs.org">Angular.js</a>,
            <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>,

            <a href="http://devgirl.org" target="_blank">Holly Schinsky</a>.<br/>
        The source code for this application is available in <a href="http://github.com/hollyschinsky/angular-cellar-basic">this repository</a> on GitHub.</p>
</footer>